@model IEnumerable<Canchas4.Models.CanchaFut>
@{
    ViewData["Title"] = "Lista de Canchas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-4">
        <h3>Canchas de Futbol</h3>
    </div>
    <div class="col-3">
        <a asp-action="Crear" class="btn btn-primary form-control">Crear nueva cancha</a>
    </div>
</div>

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr>

                <th>@Html.DisplayNameFor(c => c.CanchaFutId)</th>
                <th>@Html.DisplayNameFor(c => c.Nombre)</th>
                <th>@Html.DisplayNameFor(c => c.Descripcion)</th>
                <th>@Html.DisplayNameFor(c => c.SedeId)</th>
                <th>Acciones</th>
            </tr>
            @foreach (var cancha in Model)
            {
                <tr>
                    <td>@cancha.CanchaFutId</td>
                    <td>@cancha.Nombre</td>
                    <td>@cancha.Descripcion</td>
                    <td>@cancha.SedeId</td>

                    <td>
                        <a class="btn btn-primary text-write" asp-action="Editar" asp-route-id="@cancha.CanchaFutId">Editar</a>
                        <a class="btn btn-danger text-write" asp-action="Borrar" asp-route-id="@cancha.CanchaFutId">Borrar</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No hay Canchas registradas</p>
    }
</div>
